<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Community Garden Project">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Community Garden Project by California Polytechnic University - Pomona.">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="/font/flaticon.css">


    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/63f30294a4.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <title>Community Garden Project</title>

</head>

<body>
    <!-- Navigation Bar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#home">
                <img src="/images/sapling-trans.png" width="30" height="30" alt="sapling">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#nav-bar">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#mycommunity">My Community</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <!-- Section: Home-->

    <section class="image-section light-text" id="home">
        <div class="container-fluid fill-height">
            <div class="row h-100">
                <div class="col-lg-12 my-auto">
                    <h1 class="big-heading"><span style="white-space:nowrap">Community Garden Project</span></h1>
                    <h5 class="small-heading"><span style="white-space:nowrap">By California Polytechnic University,
                            Pomona</span> </h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About-->
    <section class="white-section" id="about">
        <div class="container-fluid buffer">
            <h1 class="med-heading pad">About the project</h1>
            <p>Improving food security in local communities and access to healthy, locally grown foods are
                major goals of the Community Gardens movement. The community gardens movement
                provides neighborhoods and communities with access to local spaces that can be cultivated for
                growth of communally grown fruits and vegetables that can provide food and support to
                members of that community.</p>
            <p>In keeping with its mission to serve as a key resource to the campus and its local community
                partners, the Learning & Research Technologies group in the Division of IT&IR at Cal Poly
                Pomona has begun the Community Gardens Technology Support Initiative. The goal is to
                provide community gardens with data that will assist in informed decision-making and
                increased crop yields. LR&T will provide sensors that collect data such as soil moisture,
                temperature, and acidity; air temperature; wind speed; and more. These data will be
                monitored, queried, and made into reports and alerts that will inform the garden leaders and
                service learning leads on where to focus efforts and resources.</p>
            <div class="row pad">
                <div class="col-lg-4 padding">
                    <img class="rounded-circle" src="images/melvin-pic.jpg" alt="photo" width="160" height="160">
                    <p class="sub-heading">Melvin Houston, Hardware engineer</p>
                </div>
                <div class="col-lg-4 padding">
                    <img class="rounded-circle" src="images/neeyati.jpg" alt="photo" width="160" height="160">
                    <p class="sub-heading">Neeyati Ajmera, Software engineer</p>
                </div>
                <div class="col-lg-4 padding">
                    <img class="rounded-circle" src="images/kayla.jpeg" alt="photo" width="160" height="160">
                    <p class="sub-heading">Kayla, Database manager</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: My Community-->
    <section class="image-section" id="mycommunity">
        <div class="container-fluid buffer">
            <h1 class="med-heading light-text">My Community</h1>
            <p class="light-text">Select your community location to view and monitor the health of your plants.</p>
            <div class="row h-100 justify-content-center">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header card-heading text-center"> <a href="pomona.html"> Pomona</a>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" ><span class="flaticon-lights"></span> Sunlight: <span style="color:green">Excellent</span></li>
                          <li class="list-group-item"><span class="flaticon-hot"></span> Temperature: <%= row.Temperature%></li>
                          <li class="list-group-item"><span class="flaticon-rain"></span> Humidity: <%= row.Humidity%></li>
                          <li class="list-group-item"><span class="flaticon-drop"></span> Soil moisture: <%= row.Rainfall%></li>
                          <li class="list-group-item"><span class="flaticon-watering-can"></span> Water Pump Status: On</li>                          
                        </ul>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header card-heading text-center"> <a href="https://nam03.safelinks.protection.outlook.com/?url=http:%2F%2Fcomgarden.steamchest.net:8080%2F~weewx%2F&data=02%7C01%7Cnsajmera%40cpp.edu%7C367a9600cba44656f0cb08d812453fa5%7C164ba61e39ec4f5d89ffaa1f00a521b4%7C0%7C0%7C637279435909590031&sdata=KmeNG1wCpGCk9j%2B3sBQKaMN23VBhfw0mP%2BXr6uD73TY%3D&reserved=0"> Yorba Linda</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="flaticon-lights"></span> Sunlight: <span style="color:red">Low</span></li>
                            <li class="list-group-item"><span class="flaticon-hot"></span> Temperature: <%= row.Temperature%></li>
                            <li class="list-group-item"><span class="flaticon-rain"></span> Humidity: <%= row.Humidity%></li>
                            <li class="list-group-item"><span class="flaticon-drop"></span> Soil moisture: <%= row.Rainfall%></li>
                            <li class="list-group-item"><span class="flaticon-watering-can"></span> Water Pump Status: Off</li> 
                          
                        </ul>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header card-heading text-center"> <a href="http://graph.mlhouston3.com/"> Chino Hills</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="flaticon-lights"></span> Sunlight: <span style="color:orange">Average</span></li>
                            <li class="list-group-item"><span class="flaticon-hot"></span> Temperature: <%= row.Temperature%></li>
                            <li class="list-group-item"><span class="flaticon-rain"></span> Humidity: <%= row.Humidity%></li>
                            <li class="list-group-item"><span class="flaticon-drop"></span> Soil moisture: <%= row.Rainfall%></li>
                            <li class="list-group-item"><span class="flaticon-watering-can"></span> Water Pump Status: Off</li> 
                        </ul>
                      </div>
                </div>
 
       
            </div>
        </div>
        </section>

    <!-- Section: Contact Us-->
    <section class="white-section" id="contact">
        <div class="container-fluid buffer">
            <div class="row h-100">
                <div class="col-lg-12 my-auto">
                    <h1 class="med-heading">Contact Us</h1>
                    <p>For more information regarding this project, please write to us at xyz@cpp.edu. If you would like to have your own community garden, our project is open source and we can help with the installation process.</p>
                    
                </div>
            </div>
        </div>
        </section>

        <!-- Section: Footer -->
      <section class="white-section" id="footer">
        <div class="container-fluid footer-buffer">
          <p id="footer-text"><span style="white-space:nowrap">Copyright 2020 California Polytechnic University, Pomona.</span></p>
        </div>
      </section>







</body>

</html>